* {
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

header {}

.side-banner {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;
    background-color: #8b1919;
    color: rgb(227, 227, 227);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.533);
}

.side-banner #profile {
    text-align: center;
    margin-bottom: 20px;
}

.side-banner #profile img {
    border-radius: 5%;
    width: 170px;
    height: auto;
}

.side-banner .side-titles #contact p {
    border: 2px solid blue;
}


#side-content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    font-size: 15px;
}

.side-banner #side-content li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.side-banner #side-content li a {
    color: white;
    text-decoration: none;
}

.content {
    margin-left: 270px;
}

.intro {
    padding: 30px;
    box-sizing: border-box;
    color: black;
    background-color: rgb(255, 255, 255);
    background-image: url(Photo/Banner_WhiteToRed.pdf);
    background-size: cover;
}

.education {
    padding: 30px;
    background-color: white;
}

.experience,
.leadership {
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(232, 228, 228)
}


.content h2,
.content h5,
.content h6 {
    padding: 40px;
    font-size: 20px;
    text-align: center;
}


.experience h3,
.experience h4 {
    font-size: 15px;
    margin-bottom: 20px;
}

.intro p {
    padding: 20px;
    text-indent: 20px;
}

.experience p,
.education p,
.leadership ul,
.leadership p {
    padding: 10px;
    text-indent: 20px;
}

.side-banner,
.side-titles,
#name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.side-banner,
.side-content,
.side-titles,
#contact {
    text-align: center;
    margin-top: 20px;
}

#git {
    width: 30px;
    margin-right: 10px;
}


#phone {
    width: 30px;
}


#linkedin {
    width: 40px;
}


#mail {
    width: 30px;
}


#linkedin,
#phone,
#mail {
    margin-right: 7px;
}

@media (max-width: 768px) {
    .side-banner {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }

    .content {
        margin-left: 0;
        padding-top: 20px;
    }
}

@media (max-width: 480px) {
    .side-banner {
        padding: 10px;
    }

    .side-banner #profile img {
        width: 100px;
    }

    .content {
        padding: 10px;
    }

    h2,
    h5,
    h6 {
        padding: 20px;
        font-size: 18px;
    }

    h3,
    h4 {
        font-size: 14px;
    }
}